# Model files
models/
# Data files (for anonymity issues)
data/
scripts/Demographics_for_gumballs.Rmd

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.DS_Store


